"""
vtelem - Class defaults.
"""

# built-in
from typing import Any, Dict, Tuple

# internal
from vtelem.enums.primitive import Primitive

DEFAULTS: Dict[str, Primitive] = {
{% for key, value in defaults.items() %}
    "{{key}}": Primitive.{{value|upper}},
{% endfor %}
}

EventType = Tuple[Any, float]

LOG_PERIOD: float = 0.25
