"""
vtelem - A definition of the supported frame types for this library.
"""

# built-in
from enum import IntEnum
from typing import Callable, Dict

# internal
from vtelem.classes.byte_buffer import ByteBuffer
from vtelem.channel.registry import ChannelRegistry
from vtelem.classes.user_enum import from_enum
from vtelem.parsing.frames import (
{% for item in frames["entries"] %}
    parse_{{item["name"]}}_frame,
{% endfor %}
)
from vtelem.types.frame import FrameType, FrameHeader


class MessageType(IntEnum):
    """An enumeration for possible frame types."""

{% for item in message_types["entries"] %}
    {{item["name"]|upper}} = {{item["value"]}}
{% endfor %}


FrameParser = Callable[[FrameHeader, ByteBuffer, ChannelRegistry], dict]
PARSERS: Dict[FrameType, FrameParser] = {
{% for item in frames["entries"] %}
    FrameType.{{item["name"]|upper}}: parse_{{item["name"]}}_frame,
{% endfor %}
}
FRAME_TYPES = from_enum(FrameType)
MESSAGE_TYPES = from_enum(MessageType)
