{{python_readme_header_md}}

# Command-line Options

```
$ {{" ".join(help["args"])}}

{{help["stdout"]}}
```

# Documentation

{% for file, name in docs.items() %}
* [{{name}}](docs/{{file}}.md)
{% endfor %}
