{{python_readme_header_md}}

# Command-line Options

```
$ {{" ".join(help["args"])}}

{{help["stdout"]}}
```

# Documentation

Project documentation can be found in
[Markdown](https://www.markdownguide.org/) files in the [`docs/`](docs)
directory.

{% for file, name in docs.items() %}
* [{{name}}](docs/{{file}}.md)
{% endfor %}

{{python_readme_dep_graph_md}}
